@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #F7F8F8;

    --background: 191 4.550000000000001% 7.76%;
    --foreground: 191 0.7000000000000001% 99.85%;

    --muted: 191 3.5000000000000004% 29.099999999999998%;
    --muted-foreground: 191 0.7000000000000001% 59.7%;

    --popover: 191 63.6% 12.61%;
    --popover-foreground: 191 0.7000000000000001% 99.85%;

    --card: 191 63.6% 12.61%;
    --card-foreground: 191 0.7000000000000001% 99.85%;

    --border: 191 3.5000000000000004% 29.099999999999998%;
    --input: 191 3.5000000000000004% 29.099999999999998%;

    --primary: 191 7% 97%;
    --primary-foreground: 191 0.7000000000000001% 9.7%;

    --secondary: 191 3.5000000000000004% 29.099999999999998%;
    --secondary-foreground: 191 0.7000000000000001% 99.85%;

    --accent: 191 3.5000000000000004% 29.099999999999998%;
    --accent-foreground: 191 0.7000000000000001% 99.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 191 0.7000000000000001% 99.85%;

    --ring: 191 7% 97%;
  }
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@layer utilities {
  .animate-cursor-blink {
    animation: blink 1s step-end infinite;
  }
}

html body[data-scroll-locked] {
  margin-right: 0!important;
  overflow-y: scroll!important;
}